<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364633249390-08346403urpksmv3t2l2nn8k86n5rivc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364633249390-08346403urpksmv3t2l2nn8k86n5rivc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>364633249390-pdgg6fh18tr015mr60lhnu2rs5sret3e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzpYcqIgiZUCaE-d-dch-BbvVf9BWi4yY</string>
	<key>GCM_SENDER_ID</key>
	<string>364633249390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.u6amtech.flutter-customer</string>
	<key>PROJECT_ID</key>
	<string>eatfull-e1f21</string>
	<key>STORAGE_BUCKET</key>
	<string>eatfull-e1f21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364633249390:ios:6d2398ff11df1a851ab87f</string>
</dict>
</plist>